
<div>
  <nav class="navbar">
  <h1 id="StoreLabel">Магазин</h1>
  <div>
      <button mat-icon-button color="gray" aria-label="icon" [matMenuTriggerFor]="beforeMenu">
        <mat-icon matBadge="{{cartCounter}}" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <li>
        <span class="cartItem">Item 1</span>
        <button mat-menu-item>Оплатить</button>
      </li>

      </mat-menu>
  </div>
  </nav>
</div>

<app-table></app-table>
